body  {
    background-color: #3D2AE8;
      color: black
    }

h1 {
  font-family: "Comic Sans MS";
}
p {
  font-family: "Comic Sans MS";
}
h2 {
  font-family: "Comic Sans MS";
}
* {
    box-sizing: border-box;
}
body {
  margin: 0;
}
.header {
    background-color: #E81738
    padding: 20px;
    text-align: center;
}
.topnav {
    overflow: hidden;
    background-color: #E81738
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width:600px) {
  .column {
      width: 100%;
  }
}
>>>>>>> ba370cf0a2b9c40c44abcd5def2d0160435b71bf
